var prefix="/${pathName}/${classname}";
$().ready(function() {
	validateRule();
});

$.validator.setDefaults({
	submitHandler : function() {
		save();
	}
});
function save() {
    var config={
			url : prefix+"/save",
			data:getFormJson("signupForm"),
	}
	EasyAjax.post_json(config,function(r){
		if (r.code == 0) {
			layer.msg(r.msg);
			parent.reLoad();
			var index = parent.layer.getFrameIndex(window.name); // 获取窗口索引
			parent.layer.close(index);
		} else {
			layer.msg(r.msg);
		}
	});
}

function validateRule() {
	var icon = "<i class='fa fa-times-circle'></i> ";
	$("#signupForm").validate({
		rules : {
			name : {
				required : true
			}
		},
		messages : {
			name : {
				required : icon + "请输入姓名"
			}
		}
	})
}