package ${package}.dao;

import ${package}.domain.${className};
import com.baomidou.mybatisplus.mapper.BaseMapper;

import java.util.List;
import java.util.Map;

import org.apache.ibatis.annotations.Mapper;

/**
 * ${comments}
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 */
@Mapper
public interface ${className}Dao  extends BaseMapper<${className}>{

	List<${className}> list(Map<String,Object> map);
}
