package ${package}.domain;

import com.baomidou.mybatisplus.annotations.TableId;
import com.baomidou.mybatisplus.annotations.TableField;
import com.baomidou.mybatisplus.activerecord.Model;
import com.baomidou.mybatisplus.annotations.TableName;
import com.baomidou.mybatisplus.enums.IdType;
import java.io.Serializable;
import java.util.Date;

#if(${hasBigDecimal})
import java.math.BigDecimal;
#end


/**
 * ${comments}
 * 
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 */
 
@TableName("${tableName}") 
public class ${className} extends Model<${className}> {
	private static final long serialVersionUID = 1L;
	
#foreach ($column in $columns)
	#if(${column.extra}=='auto_increment')
    @TableId(value="${column.columnName}",type= IdType.AUTO)
	private $column.attrType $column.attrname;
    #else
    #if("$column.columnName"!="$column.attrname")
    @TableField("${column.columnName}")
    #end
	private $column.attrType $column.attrname;
    #end
#end

#foreach ($column in $columns)
	/**
	 * 设置：${column.comments}
	 */
	public void set${column.attrName}($column.attrType $column.attrname) {
		this.$column.attrname = $column.attrname;
	}
	/**
	 * 获取：${column.comments}
	 */
	public $column.attrType get${column.attrName}() {
		return $column.attrname;
	}
#end

	@Override
	protected Serializable pkVal() {
		return this.id;
	}
	
	@Override
	public String toString() {
		#foreach ($column in $columns)
	    #if(${velocityCount}==1)return 
	    "${className}{"+
	    "$column.attrname="+$column.attrname+
	    #else
	    ",$column.attrname="+$column.attrname+
	    #end
		#end
		"}";		
	}
}
